@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "W95FA";
  src: url("/fonts/w95fa.woff2");
}

@font-face {
  font-family: "IBM VGA 9x16";
  src: url("/fonts/WebPlus_IBM_VGA_9x16.woff");
}

@font-face {
  font-family: "MS Sans Serif";
  src: url("/fonts/mssansserif.ttf");
}

@font-face {
  font-family: "Pixel Operator";
  src: url("/fonts/PixelOperator.ttf");
}

@font-face {
  font-family: "DEC Terminal Modern";
  src: url("/fonts/DEC Terminal Modern.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=IBM+Plex+Mono:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* Global color variables */
:root {
  --color-bg: #f7f3ee;
  --color-text: #453c33;
  --color-text-secondary: #635a50;
  --color-text-light: #7d7165;
  --color-border: #c9b8a8;
  --color-border-light: #d7c9b8;
  --color-bg-subtle: #ece5dc;

  --color-accent: #7c6b4e;
  --color-accent-light: rgba(124, 107, 78, 0.3);
  --color-accent-hover: #9f896b;

  --color-accent-secondary: #8a6246;

  --color-highlight: #9c6b4e;

  /* Severity colors */
  --color-severity-low: #8a9a5b;
  --color-severity-moderate: #d4a76a;
  --color-severity-high: #c75146;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  position: relative;
  color: var(--color-text);
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Utility classes */
.hidden {
  display: none;
}
