.terminal {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.terminal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.morris-worm-container {
  background-color: #000;
  color: #ffff88;
  text-shadow: 0 0 2px #ffff55bd;
  width: 100%;
  background: #000060;
  font-size: calc(max(15px, min(1.4vw, 2.1vh)));
  position: relative;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  height: 600px;
  padding-bottom: 4px;
  overflow: hidden;
}

.pre,
.morris-worm-container {
  font-family: "IBM VGA 9x16", monospace;
}

.code pre,
.pre {
  font-family: "IBM VGA 9x16", monospace !important;
  padding-left: 5px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  color: #000;
  text-shadow: none;
  width: 100%;
  overflow-x: scroll;
  overscroll-behavior-x: none;
  scrollbar-width: none;
  position: relative;
  z-index: 3;
}

.tab {
  background: #b3b3b3;
  padding: 3px 8px;
  cursor: pointer;
}

.tab-inner::first-letter {
  padding-left: 5px;
}

.tab-inner::first-letter {
  color: #a92323;
}

.tab-active .tab-inner::first-letter {
  color: #ffffff;
}

.tab-active .tab-inner {
  background-color: black;
  color: white;
}

.view {
  top: 2rem;
  left: 50%;
  padding: 0 8px;
  transform: translateX(-50%);
  z-index: 2;
  color: #e9eaff;
}

.view,
.info {
  background: #000060;
}

.line {
  width: calc(100% - 8px);
  top: 27px;
  left: 4px;
  height: 1px;
  background: #a6abfd;
}

.line,
.view {
  position: absolute;
}

.info {
  color: #a6abfd;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0;
  text-align: center;
  padding: 13px 0 3px;
  position: sticky;
  top: 0;
  left: 0;
}

.code {
  width: calc(100% - 8px);
  height: calc(100% - 40px);
  overflow-y: auto;
  margin: 9px 4px 0;
  border: 1px solid #a6abfd;
  position: relative;
  cursor: pointer;
  overscroll-behavior: none;
}

.pre {
  line-height: 1.5em;
  padding: 3px 3px 3px 6px;
  height: auto;
}

.code pre {
  margin: 0;
  padding: 5px;
  white-space: pre-wrap;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
