.errorContainer {
  margin: 11px 0;
  padding: 11px;
  border-radius: 4px;
  background-color: #fdeded;
  border: 1px solid #f5c2c7;
}

.errorContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.errorIcon {
  margin-right: 10px;
  font-size: 18px;
}

.errorText {
  color: #842029;
  flex: 1;
  margin: 0;
}

/* Success message styling */
.successContainer {
  margin: 11px 0;
  padding: 11px;
  border-radius: 4px;
  background-color: rgba(0, 128, 0, 0.1);
  border: 1px solid #029102;
}

.successContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.successText {
  color: #168416;
  flex: 1;
  margin: 0;
}

.errorActions {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
}
